{:connections
 [{:icon nil,
   :fontSize 16.0,
   :animated false,
   :fontFamily "DEFAULT",
   :bold false,
   :labelPosition "",
   :srcArrow "none",
   :opacity 1.0,
   :italic true,
   :underline false,
   :stroke "B1",
   :strokeWidth 2.0,
   :color "N2",
   :labelWidth 0.0,
   :strokeDash 0.0,
   :borderRadius 10.0,
   :label "",
   :tooltip "",
   :src "out",
   :labelHeight 0.0,
   :labelPercentage 0.0,
   :id "(out -> grid.d)[0]",
   :dst "grid.d",
   :language "",
   :zIndex 0.0,
   :link "",
   :dstArrow "triangle",
   :route [{:x 421.0, :y 186.0} {:x 207.0, :y 103.0}]}],
 :root
 {:underline false,
  :label "",
  :fields nil,
  :columns nil,
  :id "",
  :shadow false,
  :language "",
  :strokeDash 0.0,
  :italic false,
  :color "",
  :borderRadius 0.0,
  :level 0.0,
  :pos {:y 0.0, :x 0.0},
  :height 0.0,
  :icon nil,
  :fontSize 0.0,
  :multiple false,
  :link "",
  :animated false,
  :zIndex 0.0,
  :iconPosition "",
  :labelHeight 0.0,
  :3d false,
  :strokeWidth 0.0,
  :stroke "",
  :labelWidth 0.0,
  :tooltip "",
  :opacity 0.0,
  :width 0.0,
  :blend false,
  :methods nil,
  :double-border false,
  :bold false,
  :type "",
  :fill "N7",
  :fontFamily ""},
 :name "",
 :config
 {:sketch false,
  :themeID 0.0,
  :darkThemeID nil,
  :pad nil,
  :center nil,
  :layoutEngine nil},
 :isFolderOnly false,
 :fontFamily "SourceSansPro",
 :shapes
 [{:width 361.0,
   :icon nil,
   :strokeDash 0.0,
   :strokeWidth 2.0,
   :tooltip "",
   :opacity 1.0,
   :id "grid",
   :fontSize 28.0,
   :labelPosition "INSIDE_TOP_CENTER",
   :methods nil,
   :pos {:x 0.0, :y 0.0},
   :fields nil,
   :label "grid",
   :bold false,
   :multiple false,
   :animated false,
   :shadow false,
   :underline false,
   :stroke "B1",
   :italic false,
   :type "rectangle",
   :3d false,
   :link "",
   :labelHeight 36.0,
   :iconPosition "",
   :fill "B4",
   :columns nil,
   :level 1.0,
   :height 398.0,
   :zIndex 0.0,
   :labelWidth 44.0,
   :double-border false,
   :blend false,
   :borderRadius 0.0,
   :fontFamily "DEFAULT",
   :language "",
   :color "N1"}
  {:methods nil,
   :fill "B5",
   :fontSize 16.0,
   :language "",
   :multiple false,
   :strokeWidth 2.0,
   :3d false,
   :label "a",
   :columns nil,
   :labelWidth 8.0,
   :bold true,
   :underline false,
   :fields nil,
   :fontFamily "DEFAULT",
   :shadow false,
   :stroke "B1",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :strokeDash 0.0,
   :italic false,
   :iconPosition "",
   :animated false,
   :link "",
   :type "rectangle",
   :double-border false,
   :zIndex 0.0,
   :color "N1",
   :id "grid.a",
   :height 66.0,
   :icon nil,
   :borderRadius 0.0,
   :width 53.0,
   :level 2.0,
   :opacity 0.0,
   :blend false,
   :labelHeight 21.0,
   :tooltip "",
   :pos {:x 60.0, :y 60.0}}
  {:fill "B5",
   :animated false,
   :icon nil,
   :methods nil,
   :fontSize 16.0,
   :strokeWidth 2.0,
   :labelWidth 8.0,
   :3d false,
   :labelHeight 21.0,
   :tooltip "",
   :double-border false,
   :opacity 0.0,
   :italic false,
   :pos {:x 60.0, :y 166.0},
   :blend false,
   :fields nil,
   :link "",
   :id "grid.b",
   :multiple false,
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :zIndex 0.0,
   :shadow false,
   :language "",
   :underline false,
   :iconPosition "",
   :borderRadius 0.0,
   :height 66.0,
   :stroke "B1",
   :strokeDash 0.0,
   :level 2.0,
   :fontFamily "DEFAULT",
   :color "N1",
   :columns nil,
   :type "rectangle",
   :width 53.0,
   :bold true,
   :label "b"}
  {:fontSize 16.0,
   :color "N1",
   :pos {:y 272.0, :x 60.0},
   :bold true,
   :strokeDash 0.0,
   :stroke "B1",
   :level 2.0,
   :iconPosition "",
   :label "c",
   :labelHeight 21.0,
   :animated false,
   :fontFamily "DEFAULT",
   :labelWidth 8.0,
   :3d false,
   :icon nil,
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :double-border false,
   :columns nil,
   :borderRadius 0.0,
   :language "",
   :multiple false,
   :link "",
   :methods nil,
   :zIndex 0.0,
   :opacity 0.0,
   :strokeWidth 2.0,
   :tooltip "",
   :italic false,
   :shadow false,
   :underline false,
   :type "rectangle",
   :fields nil,
   :id "grid.c",
   :width 53.0,
   :height 66.0,
   :fill "B5",
   :blend false}
  {:width 54.0,
   :strokeDash 0.0,
   :blend false,
   :strokeWidth 2.0,
   :color "N1",
   :labelWidth 9.0,
   :iconPosition "",
   :type "rectangle",
   :fill "B5",
   :columns nil,
   :stroke "B1",
   :animated false,
   :italic false,
   :link "",
   :language "",
   :methods nil,
   :label "d",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :pos {:x 153.0, :y 60.0},
   :id "grid.d",
   :multiple false,
   :height 66.0,
   :level 2.0,
   :opacity 1.0,
   :fontFamily "DEFAULT",
   :labelHeight 21.0,
   :fields nil,
   :borderRadius 0.0,
   :shadow false,
   :tooltip "",
   :fontSize 16.0,
   :double-border false,
   :icon nil,
   :underline false,
   :zIndex 0.0,
   :bold true,
   :3d false}
  {:height 66.0,
   :methods nil,
   :fill "B5",
   :animated false,
   :iconPosition "",
   :icon nil,
   :width 54.0,
   :multiple false,
   :3d false,
   :pos {:x 153.0, :y 166.0},
   :columns nil,
   :fields nil,
   :fontFamily "DEFAULT",
   :opacity 0.0,
   :label "e",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :tooltip "",
   :fontSize 16.0,
   :language "",
   :labelWidth 8.0,
   :bold true,
   :color "N1",
   :strokeWidth 2.0,
   :type "rectangle",
   :blend false,
   :shadow false,
   :italic false,
   :strokeDash 0.0,
   :labelHeight 21.0,
   :stroke "B1",
   :borderRadius 0.0,
   :underline false,
   :link "",
   :id "grid.e",
   :double-border false,
   :zIndex 0.0,
   :level 2.0}
  {:label "f",
   :type "rectangle",
   :icon nil,
   :strokeWidth 2.0,
   :animated false,
   :pos {:x 153.0, :y 272.0},
   :multiple false,
   :language "",
   :color "N1",
   :underline false,
   :borderRadius 0.0,
   :id "grid.f",
   :stroke "B1",
   :fontFamily "DEFAULT",
   :italic false,
   :double-border false,
   :shadow false,
   :zIndex 0.0,
   :fill "B5",
   :width 54.0,
   :3d false,
   :iconPosition "",
   :fields nil,
   :height 66.0,
   :fontSize 16.0,
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :level 2.0,
   :opacity 0.0,
   :link "",
   :blend false,
   :tooltip "",
   :labelWidth 6.0,
   :strokeDash 0.0,
   :bold true,
   :columns nil,
   :methods nil,
   :labelHeight 21.0}
  {:animated false,
   :shadow false,
   :bold true,
   :level 2.0,
   :width 54.0,
   :3d false,
   :labelHeight 21.0,
   :strokeWidth 2.0,
   :strokeDash 0.0,
   :label "g",
   :underline false,
   :color "N1",
   :methods nil,
   :stroke "B1",
   :icon nil,
   :id "grid.g",
   :pos {:x 247.0, :y 60.0},
   :opacity 0.0,
   :labelWidth 9.0,
   :borderRadius 0.0,
   :double-border false,
   :fields nil,
   :italic false,
   :link "",
   :blend false,
   :fill "B5",
   :multiple false,
   :language "",
   :height 119.0,
   :fontSize 16.0,
   :iconPosition "",
   :fontFamily "DEFAULT",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :tooltip "",
   :columns nil,
   :zIndex 0.0,
   :type "rectangle"}
  {:fontFamily "DEFAULT",
   :multiple false,
   :label "h",
   :fontSize 16.0,
   :link "",
   :fields nil,
   :bold true,
   :blend false,
   :italic false,
   :columns nil,
   :labelWidth 8.0,
   :3d false,
   :labelHeight 21.0,
   :animated false,
   :level 2.0,
   :icon nil,
   :borderRadius 0.0,
   :underline false,
   :zIndex 0.0,
   :strokeDash 0.0,
   :opacity 0.0,
   :pos {:y 219.0, :x 247.0},
   :stroke "B1",
   :height 119.0,
   :shadow false,
   :color "N1",
   :double-border false,
   :fill "B5",
   :id "grid.h",
   :type "rectangle",
   :strokeWidth 2.0,
   :tooltip "",
   :language "",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :width 54.0,
   :iconPosition "",
   :methods nil}
  {:id "out",
   :labelPosition "INSIDE_MIDDLE_CENTER",
   :strokeDash 0.0,
   :width 69.0,
   :italic false,
   :bold true,
   :stroke "B1",
   :iconPosition "",
   :zIndex 0.0,
   :labelHeight 21.0,
   :opacity 1.0,
   :strokeWidth 2.0,
   :multiple false,
   :borderRadius 0.0,
   :underline false,
   :height 66.0,
   :columns nil,
   :shadow false,
   :methods nil,
   :language "",
   :icon nil,
   :labelWidth 24.0,
   :fill "B6",
   :fontFamily "DEFAULT",
   :fields nil,
   :animated false,
   :tooltip "",
   :type "rectangle",
   :3d false,
   :link "",
   :color "N1",
   :pos {:y 166.0, :x 421.0},
   :blend false,
   :fontSize 16.0,
   :label "out",
   :level 1.0,
   :double-border false}]}
